// Navbar
.header {
    
    > nav {
        padding: 12px 40px;
    }

    &_logo {
        img {
            height: calc(30rem / 16);
        }
    }

    &_hamburger {
        > span { // ">" direct child selector
            display: block;
            
            width: calc(24rem / 16);
            height: calc(1rem / 16); // for each individual stroke
            background-color: $darkGreen;
            &:nth-child(2) {
                width: calc(16rem / 16);
            }
            &:not(:last-child) {
                margin-bottom: calc(6rem / 16);
            }
        }
    }

    &_primary-nav {
        // display: inline;
        list-style: none;

        a {
            display: block;
            text-align: center;
            padding: calc(14rem / 16) calc(16rem / 16);
            margin-left: 50px;
            font-weight: 400;
            font-size: calc(16rem / 16); // unit can only be specified inside value, or else error
            &:hover {
                background-color: grey;
            }
        }
    }
}

// Visibility
.mobile-hide{
    // hide for tablet and mobile devices
    @include breakpoint-down(medium){
        display: none;
    }
}

.desktop-hide{
    // hide for desktop viewport min width
    @include breakpoint-up(large){
        display: none;
    }
}