// Navbar
.header {
    > nav {
        padding: 12px 40px;
    }

    &_logo {
        img {
            
        }
    }

    &_hamburger {
        > span { // ">" direct child selector
            display: block;
            width: 24px;
            height: 2px; // for each individual stroke
            background-color: $darkGreen;
    
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &_primary-nav{
        list-style: none;
        a {
            font-size: calc(16rem / 16); // unit can only be specified inside value, or else error
            margin-left: 4em;
        }
    }
}

// Visibility
.mobile-hide{
    // hide for tablet and mobile devices
    @include breakpoint-down(medium){
        display: none;
    }
}

.desktop-hide{
    // hide for desktop viewport min width
    @include breakpoint-up(large){
        display: none;
    }
}